$primary-color: #272727;
$secondary-color: #ff652f;
$date-color: #cc0000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin flex-wrap-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin center-component {
  width: 80vw;
  margin-left: 10%;
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return black;
  } @else {
    @return white;
  }
}