.details-jumbotron {
  position: relative;
  img {
    width: 100vw;
  }
  a {
    padding: 12px 20px;
    background-color: $date-color;
    position: absolute;
    bottom: 6rem;
    right: 6rem;
  }
}
section.details {
  width: 100vw;
  padding: 3rem;
  margin-bottom: 1rem;

  
  div.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
    p {
      font-size: 2rem;
      color: $date-color;      ;
    }
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    text-transform: uppercase;
    color: $date-color;    ;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-weight: 400;
    font-size: 1.8rem;
  }

  p {
    margin-bottom: 1.2rem;
  }
  div.plot{
    p {
      h1, h2, h3 {
        font-size: 1rem;
      }
    }
  }
  div.about {
    @include flex-row;
    div.half {
      @include flex-row;
      width: 60%;
      div {
        width: 50%;
      }
    }
  }

  div.types {
    @include flex-row;
    a:hover {
      color: $secondary-color;
    }
    div.tags {
      width: 60%;
    }
  }

  div.stores {
    a {
      font-weight: 500;
      margin-bottom: 3rem;
      &:hover {
        text-decoration: underline red 2px;
      }
    }
  }

  div.screenshots{
    h2 {
      position: absolute;
    }
    @include flex-wrap;
    @include center-component;
    .cardGame{
      width: 420px;
      margin-bottom: 2rem;

      img {
        width: 420px;
        height: 236px;
      }
    }
  }
  section.youtube {
    a{
      color: $date-color;
    }
    .youtube {
      @include flex-wrap-between;
      width: 100%;
      div.cardYoutube {
        width: 320px;
      }
    }
    p {
      color: $date-color;
    }
    h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    div.big {
      @include flex-wrap-between;
      margin-bottom: 2rem;
      h3 {
        font-size: 1.5rem;
      }
      img {
        width: 55%;
        margin-right: 5%;
      }
      div {
        width: 40%;
      }
    }
  }

}
