.page-list {
  height: 100vh;
  .articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include center-component;
    margin-bottom: 2rem;
    a.card.hide {
      display: none;
    }
    .cardGame {
      display: flex;
      flex-direction: column;
      width: 420px;
      bottom: 1rem;
      left: 1rem;
      margin-bottom: 2.4rem;
      &:hover {
        img.game {
          visibility: hidden;
        }
      }
      div.infos {
        p {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
        position: absolute;
        width: 420px;
        p.tags {
          font-size: 0.8rem;
        }
      }
      img {
        z-index: 1;
        width: 420px;
        height: 280px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }
      h1 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }

      .platform {
        display: flex;
        img {
          margin-right: 1rem;
          width: 30px;
          height: 30px;
          box-shadow: none;
        }
      }
    
      a {
        padding: 0.4rem;
        @include transition-ease;
    
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}


